@import url(fonts/junction.css); /*Author: Jacob Esparza*/
@import url(fonts/hvdposter.css);/*Date Written: October 10, 2019*/
#wrapper{	margin-left: auto;	 /*Assignment: CSS for M07 Lab*/
			margin-right: auto;
			width: 400px;}
body		{ background-image: url("YellowBackground.jpg");
			margin-left: 0px;
			margin-right: 0px;}
h1			{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			height: 50px;
			font-family: hvdPosterRegular, normal, normal;}
figure		{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;}
a			{color: yellow;}
img			{border-radius: 10px;
			box-shadow: 5px 2px;}
h2			{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: hvdPosterRegular, normal, normal;}
article		{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: junctionregularRegular, normal, normal;}
p			{text-align: center;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;}
footer		{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: junctionregularRegular, normal, normal;}
h3			{background-color: #5BB500;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: hvdPosterRegular, normal, normal;}
ul			{ list-style-type: none;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-family: junctionregularRegular, normal, normal;}
@media screen and (min-width: 1024px)
{
#wrapper		{margin-left: auto;
				margin-right: auto;
				width: 900px;}
h1				{font-size: 3em;
				text-align: center;
				padding: 20px;}
article.right	{float: right;
				width: 405px;
				margin-bottom: 40px;
				margin-top: 50px;}
article.left	{float: left;
				width: 405px;}
figure.left		{float: left;
				width: 405px;
				margin-top: 40px;}
figure.right	{float: right;
				width: 405px;
				margin-bottom: 20px;}
footer 			{clear: left;}
}
@media print
{#wrapper		{width: 100%;}
body			{background-image: none;}
article.right	{background-color: #FFFFFF;}
article.left	{background-color: #FFFFFF;}
figure.left		{background-color: #FFFFFF;}
figure.right	{background-color: #FFFFFF;}
img				{box-shadow: none;}
h2				{background-color: #FFFFFF;}
footer			{background-color: #FFFFFF;}
h3				{background-color: #FFFFFF;}
h1				{background-color: #FFFFFF;}
a				{color: black;
				text-decoration: none;}
}